.card {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  gap: 12px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__delete-button {
  margin: 0;
  border-style: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  left: 371px;
  background: transparent url(../images/delete.svg) center no-repeat;
  transition: background-image 1s ease-in 0s;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__name {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  object-fit: contain;
  width: 100%;
}

.card__button {
  margin: 0;
  width: 23px;
  padding: 0;
  height: 20px;
  border-style: none;
  background: transparent url(../images/like.svg) center no-repeat;
  transition: background-image 1s ease-in 0s;
  object-fit: contain;
}

.card__button:hover {
  background-image: url(../images/like-hover.svg);
}

.card__button_liked {
  background-image: url(../images/liked.svg);
}

.card__button_liked:hover {
  background-image: url(../images/liked-hover.svg);
}

@media screen and (max-width: 672px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__delete-button {
    left: 246px;
  }

  .card__name {
    font-size: 16px;
  }

  .card__like-icon {
    width: 20px;
    height: 18px;
  }
}
