.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00000080;
  padding: auto;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: white;
  border-style: none;
  border-radius: 8px;
  padding: 32px 50px;
  gap: 32px;
  max-width: 730px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.modal__container_photo {
  padding: 0;
  background-color: transparent;
  width: fit-content;
}

.modal__container_delete {
  padding: 32px, 20px;
  gap: 32px;
  max-width: 630px;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  background: transparent url(../images/close.svg) center no-repeat;
  transition: background-image, 1s, ease-in 0s;
  border-style: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-button:hover {
  background-image: url(../images/close-hover.svg);
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1;
  align-self: center;
}

.modal__input {
  border: 1px;
  border-radius: 8px;
  border-color: #21212166;
  border-style: solid;
  padding: 16px 12px;
  transition: boarder-color, 1s, ease-in, 0s;
  color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  gap: 10px;
}

.modal__input::placeholder {
  color: #2121214d;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input_type_error {
  border-color: #ff000099;
}

.modal__input_type_error:hover {
  border-color: #ff0000;
}

.modal__error {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: block;
  color: #ff0000b2;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
  visibility: hidden;
}

.modal__error_visiable {
  visibility: visible;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.1;
  color: #212121b2;
}

.modal__save-button {
  width: 156px;
  padding: 18px 32px;
  border-style: none;
  border-radius: 8px;
  gap: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  background-color: #212121;
  transition: opacity, 1s, ease-in, 0s;
}

.modal__save-button:hover {
  opacity: 80%;
}

.modal__save-button_disabled {
  opacity: 50%;
}

.modal__save-button_disabled:hover {
  opacity: 50%;
}

.modal__photo {
  padding: 0;
  margin: 0;
  object-fit: contain;
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  border-style: none;
}

.modal__description {
  background-color: #212121;
  border-radius: 8px;
  border-style: none;
  padding: 4px 8px;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  width: fit-content;
}

.modal__prompt {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #212121;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 0;
}

.modal__close-button_photo {
  top: 0;
  right: -52.5px;
  background-image: url(../images/close-photo.svg);
}

.modal__close-button_photo:hover {
  background-image: url(../images/close-photo-hover.svg);
}

.modal__prompt-buttons {
  gap: 20px;
  display: flex;
  align-self: center;
}

.modal__delete-button {
  padding: 18px 32px;
  background-color: #ff6565;
  border-radius: 8px;
  border-style: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  gap: 8px;
  transition: background-color, 1s, ease-in, 0s;
}

.modal__delete-button:hover {
  background-color: #ff3333;
}

.modal__close-button_cancel {
  width: fit-content;
  height: fit-content;
  position: relative;
  padding: 18px 32px;
  background-image: none;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  gap: 8px;
  transition: background-color, 1s, ease-in, 0s;
  transition: color, 1s, ease-in, 0s;
}

.modal__close-button_cancel:hover {
  background-color: #212121;
  background-image: none;
  color: white;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
    width: 300px;
  }

  .modal__container_photo {
    padding: 0;
    width: fit-content;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_photo {
    top: -48px;
    right: 0;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__save-button {
    width: 100%;
  }
}
